<ul style="display:inline-block">
	<li ng-repeat="each_img in item.img_list">
		<a title="" ng-click="setImage($index)">
	        <img width="48" height="64" title="" ng-src="{{each_img}}">
	    </a>
</li>
</ul>
<img itemprop="image" width="360" height="480" ng-src={{currentImage}} style="display:inline-block">
<p style="display:inline-block">
	<h3 style="display:inline-block">{{item.name}}</h3>
	<button ng-click="basket.add(item)" style="background-color: #428bca; color: white; border:color: 285e8e">Buy Now !</button>
</p>
