{{temp_var}}

<div class="bs-example">
	<div class="row">
		
		<div ng-repeat="(subcategory_name, item_list) in catalog">
		  <div class="col-sm-6 col-md-3" ng-repeat="item in item_list | filter:temp_var" >
			    <div class="thumbnail">
			    	<a href="/#/catalogprofile/{{subcategory_name}}/{{item.id}}">
				      <img ng-src="{{item.img}}" style="height: 176px; width: 176px;">
				    </a>
					<div class="caption">
						<h7 class="ng-binding" style="display: inline-block">{{item.name}}</h4>
						<a style="display: inline-block; padding: 2px; 8px;" role="button" class="btn btn-primary" href="#" ng-click="basket.add(item)">Buy</a>
						 {{item.price | currency}}
					</div>			      
				</div>	
		  </div>
		</div>

	</div><!-- End of class row -->
</div> <!-- End of bs-example -->




<!-- <ul class="unstyled">
    <li ng-repeat="item in catalog">
      <product item="item"></product>
      <a href class="btn btn-primary" ng-click="basket.add(item)"> Buy!</a>
    </li>
</ul>
 -->